@import '@fontsource/glegoo';
@import '@fontsource/exo-2';

//* Colors
$bg-dark: #2f2e38;
$text: #b8c3cc;
$lotus: #f4bfc7;
$primary: #ff715b;
$bg-light: linear-gradient(90deg, #ece9e6 -1.11%, #ffffff 100%);

//* Typography
$body: 'Glegoo';
$title: 'Exo 2';

//* Shadows
$sm-dark: 0.5px 1px 1px hsl(240deg 8% 0%/ 0.7);
$md-dark: 1px 2px 2px hsl(240deg 8% 0%/ 0.333), 2px 4px 4px hsl(240deg 8% 0% / 0.333),
	3px 6px 6px hsl(240deg 8% 0% / 0.333);
$lg-dark: 1px 2px 2px hsl(240deg 8% 0% / 0.2), 2px 4px 4px hsl(240deg 8% 0%/ 0.2),
	4px 8px 8px hsl(240deg 8% 0% / 0.2), 8px 16px 16px hsl(240deg 8% 0% / 0.2),
	16px 32px 32px hsl(240deg 8% 0% / 0.2);

$sm-light: 0.5px 1px 1px hsl(30, 14%, 91% / 0.7);

$md-light: 1px 2px 2px hsl(30, 14%, 91% / 0.333), 2px 4px 4px hsl(30, 14%, 91% / 0.333),
	3px 6px 6px hsl(30, 14%, 91% / 0.333);

$lg-light: 1px 2px 2px hsl(30, 14%, 91% / 0.2), 2px 4px 4px hsl(30, 14%, 91% / 0.2),
	4px 8px 8px hsl(30, 14%, 91% / 0.2), 8px 16px 16px hsl(30, 14%, 91% / 0.2),
	16px 32px 32px hsl(30, 14%, 91% / 0.2);
